.preference__container {
    padding-left: 24px;
    padding-right: 24px;
}

.preference__header h2 {
    margin: 8px 0;
    font-weight: 400;
}

.preference__header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preference__header__wrapper button{
    border: 1px solid #4361EE;
    color: #fff;
    font-weight: 500;
    padding: .725em 1em;
    border-radius: 6px;
    background-color: #4361EE;
    cursor: pointer;
    transition: .2s ease;
}

.preference__header__wrapper button:hover {
    /* border: 1px solid #ffff; */
    color: #4361EE;
    background-color: #ffff;
}

.preference__header p {
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 600;
    color: #4361EE;
}

.preference__hours p {
    margin-bottom: 8px;
    
}

.preference__hours__content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

/* .daysOfWeek {
    display: flex;
    gap: 2rem;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
} */

.hours__container {
    overflow-x: auto;
    max-width: 800px;
    border: 2px solid #e8edf0;
    margin-top: 16px;
    border-radius: 10px;
}

.hours {
    margin-top: 16px;
    display: flex;
    /* gap: 2rem; */
    align-items: center;
    
    justify-content: space-between;
}

.daysOfWeek {
    display: inline-flex;
    /* width: 100%; */
    /* justify-content: space-between; */
    align-items: center;
   
    background-color: #e8edf0;
    padding: 8px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

@media (min-width: 535px) {
    .daysOfWeek {
        display: flex;
    }
}

.daysOfWeek .day {
    min-width: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hoursCol {

    margin-left: auto;
    margin-right: auto;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* .hours div {
    min-width: 100px;
    justify-self: center;
} */

.hour__label {
    
    /* margin-right: 8px;  */
    margin-bottom: 16px;
    color: #74857C;
    display: flex;
    align-items: center;
    gap: 4px;
}

.preference__disciplines {
    margin-top: 16px;
}

.preference__disciplines__content {
    margin-top: 16px;
}

.preference__disciplines__content input {
    /* margin-bottom: 8px; */
    padding: .5em 1em;
    border: 1px solid hsl(0, 0%, 80%);
    border-radius: 4px;
    font-size: 1rem;
}

.disciplines__search {
    margin-bottom: 16px;
}

.discipline__label {
    margin-right: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    max-width: 300px;
    padding: 16px;
    cursor: pointer;
    border-radius: 4px;
    /* box-sizing: content-box; */
    color: #74857C;
    font-weight: 500;
}

.discipline__label:hover {
    background-color: rgb(212, 212, 212);
}



.preference-page .box {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

@media(min-width: 400px) {
    .preference-page .box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 600px) {
    .preference-page .box {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(min-width: 1000px) {
    .preference-page .box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}